<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-alertview" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVAlertView</name>
    <js-module name="CDVAlertView" src="www/alertview.js">
        <clobbers target="CDVAlertView" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVAlertView">
                <param name="ios-package" value="CDVAlertView" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAlertView.h" />
        <source-file src="src/ios/CDVAlertView.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="LEEAlert" />
            </pods>
        </podspec>

    </platform>
</plugin>
