<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-alertview" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVAlertSheet</name>
    <js-module name="CDVAlertSheet" src="www/alertview.js">
        <clobbers target="CDVAlertSheet" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVAlertSheet">
                <param name="ios-package" value="CDVAlertSheet" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAlertSheet.h" />
        <source-file src="src/ios/CDVAlertSheet.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="SCLAlertView-Objective-C" options=":git => 'https://github.com/boboxiaodd/SCLAlertView'" />
            </pods>
        </podspec>

    </platform>
</plugin>
